body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.divBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
	background: linear-gradient(90deg,rgba(6, 43, 112, 1) 0%, rgba(27, 156, 209, 1) 100%);
}

.divLogin {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 600px;
    width: 90%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.tituloTexto {
    font-size: 25px !important;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

.stInput {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.pnTitulo {
    margin-bottom: 10px;
}

.pnWidth {
    width: 100%;
}

.padPg {
    padding: 0 20px;
}

p:commandLink {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    display: inline-block;
}

p:commandLink:hover {
    text-decoration: underline;
}