body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.divBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
	background: linear-gradient(90deg,rgba(6, 43, 112, 1) 0%, rgba(27, 156, 209, 1) 100%);
}

.divLogin {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 30px;
    max-width: 600px;
    width: 90%;
    min-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.tituloTexto {
    font-size: 25px !important;
    color: #333;
    font-weight: bold;
}

.stInput {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px; 
}

.pnTitulo {
    margin-bottom: 10px;
}

.padPg {
    padding: 0 20px;
}

p:commandLink {
    color: #007bff;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
    display: inline-block;
}

p:commandLink:hover {
    text-decoration: underline;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.labelLogin {
    font-weight: bold;
    display: block;
}

.tipo-login-botoes {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-top: 10px;
}

.btn-login-opcao {
    width: 180px;
    height: 40px;
    border-radius: 9px;
    background-color: #f5f5f5 !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
    transition: all 0.3s ease;
}

.btn-login-selecionado {
    width: 180px;
    height: 40px;
    border-radius: 9px;
    background-color: #1a96cc !important;
    color: #fff !important;
    border: 1px solid #1a96cc !important;
}

.btn-login-opcao:hover {
    background-color: #e6e6e6 !important;
}
.btn-login-selecionado:hover {
    background-color: #1a96cc !important;
}

.btn-login {
    width: 230px;
    height: 60px;
    border-radius: 9px;
    background-color: #007ad9 !important;
    color: white !important;
    font-weight: bold;
    margin-top: 15px;
}

.link-cadastro {
    color: #007ad9 !important;
    text-decoration: none;
    font-weight: 500;
}
.link-cadastro:hover {
    text-decoration: underline;
}
